<script src="/js/answer.js"></script>
<script type="text/javascript"></script>
<div class="container">

  <div id="new">
    <h2>Question </h2>
    <form id="surveyForm" action="/survey/<%= @survey.id %>" method="get">
      <div id="inputsDiv">
        <% @survey.questions.each do |question| %>
        <div>
          <span class="question"><%= question.name %></span>
          <% question.options.each do |option|%>
            <button type="button"  name="<%=option.id%>" class="option"><%= option.name %></button>
          <% end %>
        </div>
        <% end %>
      </div>
      <canvas id="canvas" width="10" height="20"> </canvas>
      <input type="submit" name="/survey/<%= @survey.id %>">
    </form>
    <button type="button" id="next">Next</button>
    <button type="button" id="prev">Prev</button>
  </div>
</div>
